<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="com.ljh.mapper.UserMapper">

    <select id="select" resultType="com.ljh.dto.User">
        select * from User
    </select>

    <insert id="insert" parameterType="com.ljh.dto.User">
        insert into mybatis.user(id,name,pwd,enabled) values (#{id},#{name},#{pwd},#{enabled})
    </insert>

    <delete id="delete" parameterType="int">
        delete from mybatis.user where id=#{id}
    </delete>

</mapper>